# Copy to keystore.properties (git-ignored) to sign release builds on this machine:
#   ./gradlew assembleRelease bundleRelease
SIGNING_STORE_FILE=/Users/mattcoleman/code/projects/android/HomePage.jks
SIGNING_STORE_PASSWORD=
SIGNING_KEY_ALIAS=
SIGNING_KEY_PASSWORD=
